<head>
	<!-- bootstrap --> 

</head>

<body>

	<h1>Title: </h1>
	{{ thread.title}}

	<br>

	<h1>Description: </h1>
	{{ thread.description }}

	<br>

	<h1>Difficulty: </h1>
	{{ thread.difficulty }}

	<br>

	<h1>Purpose: </h1>
	{{ thread.purpose }}

	<form action="/thread/{{thread.id}}" method="post" enctype="multipart/form-data">
		<div class="file-field input-field">
			<div class = "btn grey">
				<span>Image upload here</span>
				<input type="file" name="uploadImage">
			</div>
		</div>

		<input type="text" name="info">
			
		<button type="submit">Submit</button>
	</form>
	
	{{#each posts}}
		
		<div> {{ this.body }} </div>
		<img src="{{this.image}}" alt="{{this.image}}" />
	{{/each}}




</body>
